@page "{id:int}"
@model Chechka.Areas.Admin.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ComputerPart</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ComputerPart.ComputerPartId" />
            <div class="form-group">
                <label asp-for="ComputerPart.ComputerPartName" class="control-label"></label>
                <input asp-for="ComputerPart.ComputerPartName" class="form-control" />
                <span asp-validation-for="ComputerPart.ComputerPartName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComputerPart.Description" class="control-label"></label>
                <input asp-for="ComputerPart.Description" class="form-control" />
                <span asp-validation-for="ComputerPart.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComputerPart.Price" class="control-label"></label>
                <input asp-for="ComputerPart.Price" class="form-control" />
                <span asp-validation-for="ComputerPart.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="ComputerPart.Image" class="control-label"></label>
                <input asp-for="ComputerPart.Image" class="form-control" />
                <span asp-validation-for="ComputerPart.Image" class="text-danger"></span>*@
                @if (!string.IsNullOrEmpty(Model.ComputerPart.Image))
                {
                    <img src=~/Images/@Model.ComputerPart.Image alt="NoSuchFile" width="150" />
                }
                else
                {
                    <h4>Файл изображения не задан</h4>
                }
                <div class="custom-file mt-3">
                    <input type="file" class="custom-file-input" asp-for="Image" id="customFile">
                    <label class="custom-file-label" for="customFile">Выберите файл изображения</label>
                </div>
                <div class="form-group">
                    <label asp-for="ComputerPart.ComputerPartGroupId" class="control-label"></label>
                    <select asp-for="ComputerPart.ComputerPartGroupId" class="form-control" asp-items="ViewBag.ComputerPartGroupId"></select>
                    <span asp-validation-for="ComputerPart.ComputerPartGroupId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
</form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts{
    <script src="~/js/bs-custom-file-input.js"></script>

    <script>
        bsCustomFileInput.init();
    </script>
}
